@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&family=Oswald&display=swap');



/* font-family: 'Orbitron', sans-serif;
font-family: 'Oswald', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&family=Oswald&family=Work+Sans:ital,wght@0,400;0,600;0,800;1,400&display=swap');

/* font-family: 'Orbitron', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Work Sans', sans-serif; */

*{
  margin: 0;
  padding: 0;
}
body{
  background-image: -webkit-repeating-linear-gradient(rgba(8, 233, 12, 0.37),rgba(91, 56, 123, 0.672));
 font-family: 'Oswald', sans-serif;
}
.nav-container{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  height: 30px;
}
.left{
font-size: larger;
font-family: 'Orbitron', sans-serif;
letter-spacing: 3px;
color: rgba(5, 254, 209, 0.993);
}
.title-logo{

}
.right ul ,a,li{
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  color: rgb(246, 246, 246);
  letter-spacing: 3px;
}
.right ul ,a,li:hover{
 color: rgba(5, 254, 209, 0.993);
}
.first-container{
  display: flex;
 justify-content: space-between;
 align-items: center;
 text-align: justify;
 gap: 30px;
 margin: 50px;
}
.right-side-img img{
  width: 400px;
}
.top-title{
  font-size: 30px;
}
.title-name{
  color: goldenrod;
}
.btn-style{
  margin-top: 10px;
  padding: 15px 45px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  border: 3px solid goldenrod;
  background-image: -webkit-linear-gradient(rgba(242, 215, 67, 0.53),rgba(225, 160, 171, 0.566));
}